body {
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 40px 0;
    color: white;
    background: url("images/blured.jpg");
    margin: 0;
}

::placeholder {
    color: aliceblue;
}

/*login page*/
.login-wrapper {
    text-align: center;
}

.contact-wrapper {
    text-align: center;
    display: block;
}

#login {
    display: inline-block;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 28%;
    background: rgba(0, 0, 0, 0.1);
}

.login-form h1 {
    padding-bottom: 30px;
    padding-top: 30px;
}

.login-input {
    outline: none;
    background: none;
    padding: 12px 20px;
    margin: 8px;
    border: 2px solid white;
    border-radius: 4px;
    width: 50%;
    color: white;
}

#passField {
    margin-bottom: 15px;
}

#checkBox {
    margin-bottom: 20px;
}

#loginButton {
    padding: 0;
    margin-bottom: 20px;
    background: #5BB6FD;
    color: #ffffff;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    width: 60%;
    height: 38px;
    font-size: 20px;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #00abeb)) 21 30 30 21 repeat repeat;
}

#loginButton:hover {
    background: #fff;
    color: #5BB6FD;
    border: 1px #4CABFB solid;
}

#createButton {
    margin-bottom: 20px;
}

/************/

/* Create Account */
#createAcc {
    display: inline-block;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 28%;
    background: rgba(0, 0, 0, 0.1);
}

.login-button {
    margin-bottom: 20px;
}

#confPassF {
    margin-bottom: 20px;
}

/******************/

/*Contacts page */
.topBar {
    height: 8vh;
    margin-bottom: 20px;
    background: rgba(142, 123, 123, 0.4);
}

#contacts {
    display: inline-block;
}
.contact-con {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 1000px;
    background: rgba(0, 0, 0, 0.1);
    height: 80vh;
}

#searchUser {
    padding: 5px;
    width: 97%;
}

#usrList {
    padding: 0;
    height: 100%;
}

#search {
    height: 50%;
}

.searchUsr {
    border: 1px solid white;
    width: 50%;
    height: 15%;
    font-size: 30px;
    margin-left: 25%;
    padding-top: 20px;
    background: linear-gradient(to bottom, #a7cfdf 0%,#23538a 100%);
}

.searchUsr:hover {
    background: linear-gradient(to bottom, #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%);
}

.searchUsr:focus {
    background: linear-gradient(to bottom, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
}

.contact-show {
    height: 50%;
}

.contact-show .header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgba(142, 123, 123, 0.4);
    padding: 10px;
}

.contact-show .list {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 80%;
    background: rgba(0, 77, 144, 0.25);
}

.nameItem {
    width: 100%;
    height: 15%;
    padding-top: 10px;
    padding-left: 10px;
}

.pic {
    width: 13%;
    border: 1px solid black;
    height: 100%;
    float: left;
}

.info {
    border: 1px solid black;
    height: 100%;
    width: 75%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}

.info, .info::after, .info::before {
    transition: all .5s;
}

.info:hover {
    background: #555;
    color: aliceblue;
}

#list {
    width: 97%;
    padding: 5px;
    height: 85%;
}

#logout-button {
    color: #4f7492;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
    width: 100px;
    padding: 5px;
    position: absolute;
    left: 90%;
    top: 2%;
}

/*******************/

/*chat screen*/
.chat-container {
    margin: 0 auto;
    width: 750px;
    background: #444753;
    border-radius: 5px;
}

.chat {
    width: 100%;
    float: left;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}

/*header*/
.chat .chat-header {
    padding: 40px;
    border-bottom: 2px solid white;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
}

.chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 300px;
}

.chat .chat-message {
    padding: 30px;
}

.chat .chat-message textarea {
    width: 95%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}

textarea::placeholder {
    color: #434651;
}

.chat .chat-message button {
    float: right;
    color: #94C2ED;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
}

.chat .chat-history .my-message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}

.chat .chat-history .other-message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 10px solid transparent;
    border-bottom-color: rgb(119, 199, 118);
    margin-left: -10px;
}

.chat .chat-history .other-message:after {
    bottom: 100%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 10px solid transparent;
    border-bottom-color: rgb(148, 194, 237);
    margin-left: -10px;
}

/*************/

/* display of user list in contacts*/
ul {
    list-style: none;
}

/*********/

.change::-webkit-input-placeholder {
    color: #434651;
}
